/**
* @style       Standard Layout
* @media       screen
* @version     1.0
* @author      Alfredo Zym
* @copyright   OrvelSoft 2017
* @licensor   	open source
* @layout      in pixels:
*              |            788            |
*              | 10  |      768       | 10 |
*              | 10  | 27 |    741    | 10 |
*/


body{
	background:#FFFFFF;
}


/**
* @section nav
* @todo mene principal de la pagina
*/
nav.toolBarMenu{
	position:absolute;
	float:left;
	background:#3a2313;
	width:100%;
	height:100px;
	z-index:100;
}

nav.toolBarMenu ul {
	position:relative;
	list-style-type: none;
	margin: 0;
    padding: 0;
	height:100px;
	width:80%;
	margin-left:12%;
	
}

nav.toolBarMenu ul li {
	width:13%;
	float:left;
	position:relative;
	height:100px;
}

nav.toolBarMenu ul li a {
	position:relative;
	float:left;
	width:100%;
	color:#FFFFFF;
	border-right:1px solid #FFFFFF;
	text-align:center;
	padding: 10px 0px;
	margin-top:30px;
	font-size: 1.1rem;
	
}

.borderLeft{
	border-left:1px solid #FFFFFF;
	border-right:0;
}



nav.toolBarMenu ul li:hover {
	background:#f29b31;
}

nav.toolBarMenu ul li.active {
	background:#f29b31;
}

nav.toolBarMenu ul li.active a {
	background:#f29b31;
	border:none;
}

nav.toolBarMenu ul li:hover a {
	border:none;
}

nav.toolBarMenu ul li#divCircle{
	width:15%;
	
	height:200%;
	background: url(../images/circle-256.png) center center no-repeat;
	background-size: 100%;
	background-position: center 15px;
	background-color:#457664;
}

nav.toolBarMenu ul li .img-responsive{
    display: block;
    max-width: 80%;
    height: auto;
	margin-left:10%;
}

nav.toolBarMenu ul li#lenguage{
	width:20%;
	height:100%;
	text-align:center;
}

nav.toolBarMenu ul li#lenguage:hover{
	background:none;
}

.imgLenguage{
	margin-top:25px;
}

.imgLenguage:first-child{
	margin-right:5%;
}

.circle{
	width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
	margin-top:50px;
}


a:hover {
	text-decoration: none;
	color:#FFFFFF;
} 

nav.toolBarMenu a.btnMenu{
	display:none;
}

.lenguage{
	position:relative;
	float:right;
	width:10%;
	height:100px;
	background:#895634;
}

nav.toolBarMenu ul li#lenguageMobil{
		display:none;
}

@media (min-width: 1200px) {

	nav.toolBarMenu ul li#divCircle{
		width:15%;
	
		height:250%;
		background: url(../images/circle-256.png) center center no-repeat;
		background-size: 100%;
		background-position: center -10px;
	}
	
	nav.toolBarMenu ul li .img-responsive{
		display: block;
		max-width: 70%;
		height: auto;
		margin-left:15%;
	}

}

/**
* @section nav.toolBarMenu medias query table
* @todo estilos para el menu en las tabletas
*/
@media (min-width: 768px  ) and (max-width: 991px){
	
	nav.toolBarMenu ul {
		width:100%;
		margin-left:0%;
	}
	
	nav.toolBarMenu ul li {
		width:14%;
	}
	
	
	nav.toolBarMenu a.btnMenu{
		display:none;
	}
	
	nav.toolBarMenu ul li#lenguage{
		width:15%;
		height:100%;
		text-align:center;
	}
	
	.imgLenguage{
		width:40%;
		float:left;
	}
	
	
	
	nav.toolBarMenu ul li#divCircle{
		width:15%;
	}
}

/**
* @section nav medias query phone
* @todo estilos para el menu en laos telefonos
*/
@media (max-width: 767px){
	
	nav.toolBarMenu{
		height:50px;
		position:relative;
	}
	
	nav.toolBarMenu a.register{
		float:right;
		width:70%;
		font-size:1.1rem;
		font-weight: normal;
		padding: 10px 10px;
	}
	
	nav.toolBarMenu a.btnMenu{
		position:relative;
		float:left;
		background:#f29b31;
		display:inline;
		color:#FFFFFF;
		font-size:3rem;
		padding: 2px 16px;
		border: 2px solid #d98b2c;
		cursor:pointer;
	}
	
	nav.toolBarMenu a.btnMenu:active{
		background:#c17c27;
	}
	
	nav.toolBarMenu ul.nav-content{
		display:none;
		width: 80%;
		height:auto;
		margin: 0;
		padding: 0;
		position:absolute;
		top:50px;
		left:0;
		z-index:10;
		background:#3a2313;
	}
	
	#divCircle{
		display:none;
	}
	
	nav.toolBarMenu ul li {
		float: left;
		background:none;
		cursor:pointer;
		width:100%;
		height:auto;
		 border-bottom: 1px solid #f29b31;
	}
	
	av ul li:last-child {
		border-bottom: none;
	}

	nav.toolBarMenu ul li a {
		font-weight: bold;
		padding: 12px 5px;
		margin:0;
		border-right:1px solid #FFFFFF;
		border:none;
	}
	
	nav.toolBarMenu ul li#lenguage{
		display:none;
	}
	
	nav.toolBarMenu ul li#lenguageMobil{
		display:inline;
	}
	
}

/**
* @section camps
* @todo section que muestra el info del campamento
*/

.row {
    margin-right: 0;
    margin-left: -15px;
}

#camps{
	position:relative;
	float:left;
	margin-top:-50px;
	margin-bottom:50px;
	width:100%;
}

.camps-content{
	padding-right:0px;
}

.campsHeader{
	position:relative;
	float:left;
	width:100%;
	background:#68c62a;
	text-align:center;
	font-size:1.7rem;
	color:#FFFFFF;
	height:100px;
	display: table;
	padding: 0px 5px;
	text-transform:uppercase;
}

.labelCampsHeader{
	display: table-cell;
	vertical-align: middle;
}

.campsImages{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}

.campsImages img{
	position:relative;
	float:left;
	width:100%;
}

@media (max-width: 767px){
	
	.campsHeader{
		height:60px;
	}
	
	#camps{
		position:relative;
		float:left;
		margin-top:0;
		margin-bottom:5px;
	}
	
}

/**
* @section About Us
* @todo section que muestra la informacion de la empresa
*/

#AboutUs{
	position:relative;
	float:left;
	width:100%;
}

.bgAboutUs{
	background:#3a2313;
	color:#FFFFFF;
	padding: 20px 0;
	text-decoration: underline;
}

.aboutUs-header{
	text-align:center;
	text-transform:uppercase;
	font-size:4rem;
	color:#f29b31;
	margin-bottom: 25px;
}

.aboutUs-header label{
	border-bottom:2px solid #FFFFFF;
}

.aboutUs-body{
	margin-bottom: 25px;
}

.aboutUs-body label{
	position:relative;
	text-transform:uppercase;
	font-size:2rem;
	color:#f29b31;
	text-align:center;
}

.aboutUs-body p{
	color:#FFFFFF;
	text-align:center;
	
}

.aboutUs-body.UsLeft{
	padding-right:50px;
}

.aboutUs-body.UsRight{
	padding-left:50px;
}

.aboutUs-body.UsLeft:first-child{
	margin-bottom:75px;
}

.aboutUs-body.UsLeft label, .aboutUs-body.UsLeft p{
	float:right;
	width:58%;
}

.aboutUs-body.UsRight label, .aboutUs-body.UsRight p{
	float:left;
	width:70%;
}

@media (min-width: 768px  ) and (max-width: 1199px){
	
	.aboutUs-body.UsLeft{
		padding-right:10px;
	}
	
	.aboutUs-body.UsRight{
		padding-left:10px;
	}
	
	.aboutUs-body.UsLeft label, .aboutUs-body.UsLeft p{
		float:right;
		width:90%;
	}
	
	.aboutUs-body.UsRight label, .aboutUs-body.UsRight p{
		float:left;
		width:95%;
	}
	
	.aboutUs-body.UsLeft p{
		text-align:right;
	}
	
	.aboutUs-body.UsRight p{
		text-align:left;
	}
}

/**
* @section quienes somos medias query phone
* @todo estilos para el menu en laos telefonos
*/
@media (max-width: 767px){
	
	.aboutUs-header{
		font-size:3rem;
	}
	
	.aboutUs-body.UsLeft, .aboutUs-body.UsRight{
		padding:0;
		padding-left:25px;
	}
	
	.aboutUs-body.UsLeft label, .aboutUs-body.UsLeft p{
		float:left;
		width:100%;
		text-align:center;
	}
	
	.aboutUs-body.UsRight label, .aboutUs-body.UsRight p{
		float:left;
		width:100%;
		text-align:center;
	}
	
	.aboutUs-body.UsLeft:first-child{
		margin-bottom:16px;
	}
	
}

/**
* @section gallery
* @todo section galerria de los campamentos
*/

#galleryCamp{
	position:relative;
	float:left;
	width:100%;
	height:100%;
}

.gallery-header{
	text-align:center;
	text-transform:uppercase;
	font-size:4rem;
	color:#f29b31;
	padding: 25px 0px;
}

.gallery-body{
	position:relative;
	float:left;
	color:#000000;
	padding-right:0;
	margin-right:0;
}

.galleryContent{
	text-align:center;
}

.galleryContent:first-child{
	background: url(../images/gallery/gallery1.jpg) center center no-repeat;
	background-size:100%;
}

.galleryContent:last-child{
	background: url(../images/gallery/gallery2.jpg) center center no-repeat;
	background-size:100%;
	
}

.galleryCircle {
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f29b31;
	margin: 70px auto;
	text-align:center;
	text-transform:uppercase;
	font-size:2.6rem;
	color:#FFFFFF;
}

.galleryCircle p{
	padding-top:100px;
}

/**
* @section CONTACTO
* @todo section CONTACTO de los campamentos
*/

#contactCamp, #contact-map{
	position:relative;
	float:left;
	width:100%;
}

.contact-body{
	background:#3a2313;
	color:#FFFFFF;
	padding: 20px 0;
}

.contactInfo{
	text-align:center;
}

.contactInfo:first-child{
	padding-right:50px;
}

.contactInfo:last-child{
	padding-left:50px;
}

.contactInfo:first-child p{
	position:relative;
	float:right;
}

.contactInfo:last-child p{
	position:relative;
	float:left;
}

#formContactCamp{
	margin-top:50px;
	margin-left:8%;
	margin-right:25%;
}

.form-contact{
	display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #FFFFFF;
    background-color: transparent;
    background-image: none;
    border: 1px solid #f29b31;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea.form-contact {
    height: auto;
}

.form-contact::-webkit-input-placeholder{
	color:#FFFFFF;
}

.btn-contact{
	border-radius:0px;
	background:#f29b31;
	color:#FFFFFF;
}


/**
* @section map
**/

#map{
	height:440px;
	margin-top:25px;
	margin-left:50px;
}


@media (min-width: 768px  ) and (max-width: 1199px){
	
	.galleryCircle {
		width: 200px;
		height: 200px;
		margin: 35px auto;
		font-size:2rem;
	}
	
	.galleryCircle p{
		padding-top:85px;
	}
	
	#formContactCamp{
		margin-left:16px;
		margin-right:16px;
	}
	
	
}

@media (min-width: 481px ) and (max-width: 767px){
	.galleryCircle {
		width: 200px;
		height: 200px;
		margin: 35px auto;
		font-size:2rem;
	}
	
	.galleryCircle p{
		padding-top:85px;
	}
	
	.contactInfo:first-child{
		padding-left:50px;
		text-align:center;
	}

	.contactInfo:last-child{
		padding-left:50px;
		text-align:center;
	}

	.contactInfo:first-child p{
		width:100%;
		position:relative;
		float:left;
	}

	.contactInfo:last-child p{
		width:100%;
		position:relative;
		float:left;
	}
	
	#map{
		height:300px;
		margin-left:26px;
	}
	
	#formContactCamp{
		margin-right:0;
		margin-left:26px;
	}
	
}
	

@media (max-width: 480px){
	
	.galleryCircle {
		width: 150px;
		height: 150px;
		margin: 25px auto;
		font-size:1.5rem;
	}
	
	.galleryCircle p{
		padding-top:60px;
	}
	
	.contactInfo:first-child{
		padding-left:50px;
		text-align:center;
	}

	.contactInfo:last-child{
		padding-left:50px;
		text-align:center;
	}

	.contactInfo:first-child p{
		width:100%;
		position:relative;
		float:left;
	}

	.contactInfo:last-child p{
		width:100%;
		position:relative;
		float:left;
	}
	
	#map{
		height:200px;
		margin-left:26px;
	}
	
	#formContactCamp{
		margin-right:0;
		margin-left:26px;
	}
	
}

#prueba{
	position:relative;
	float:left;
	width:100%;
}



/******************paquetes****************/
#namePaquete{
	position:relative;
	float:left;
	width:100%;
	font-size:16px;
	margin-top:100px;
}

#content-hearderPaquete{
	position:relative;
	float:left;
	width:100%;
	height:150px;
	background:#f29b31;
	text-transform:uppercase;
	font-size:4rem;
	color:#ffffff;
	padding: 25px 0px;
	
	padding-top:75px;
	padding-left:190px;
	margin-bottom:25px;
}

.packageBody{
	margin-bottom:30px;
}

.content-Package.right{
	float:right;
}

.content-Package.left{
	float:left;
}

.content-Package .imgPackage{
	position:relative;
	float:left;
	width:100%;
}

.content-Package .imgPackage img{
	width:100%;
}

.content-Package .labelPackage{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	font-size:1.2rem;
	margin-top:10px;
}

.content-Package .buttomPackage{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.btn-package{
	background:#f29b31;
	color:#FFFFFF;
	font-size: 16px;
    padding: 8px 24px;
}

.pagination>li>a, .pagination>li>span {
	background:#f29b31;
	color:#FFFFFF;
	margin: 0px 3px;
}


@media (max-width: 767px){
	
	#namePaquete{
		margin-top:0px;
	}

	#content-hearderPaquete{
		padding-left:16px;
	}
	
	.packageBody{
		margin-left:0px;
	}
	
}